@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.notoserif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

/* img{
  width: 100%;
  display: block;
} */
/* shared style */
.display-none {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  width: 268px;
  height: 50px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #e95a08;
  color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Navbar style */
.navbar {
  border: 1px solid slateblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.nav-container {
  border: 1px solid salmon;
  display: flex;
}
.nav-links {
  border: 1px solid teal;
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
}
.home {
  color: black;
  font-weight: 700;
}
.shop {
  color: #8987a1;
}

/* Hero section */
.banner-container {
  display: flex;
  height: auto;
  margin-top: 120px;
  border: 1px solid aqua;
}
.banner-div {
  max-width: 570px;
  /* margin-top: 50px; */
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0px;
  margin-top: 50px;
}
.orange-title {
  color: #e95a08;
}

.banner-subtitle {
  color: #00000080;
  font-size: 1.25rem;
  margin: 0px;
}
.banner-image img {
  width: 100%;
}

/* Card section related style */

.card-title-container {
  text-align: center;
}
.card-title {
  font-weight: 700;
  font-size: 3rem;
}
.our {
  color: #e95a08;
}
.card-subtitle {
  max-width: 885px;
  margin: 0 auto;
  font-size: 1.25rem;
  color: #00000080;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 70px;
  margin-bottom: 100px;
}
.flower-card {
  border: 1px solid blue;
  max-width: 270px;
  max-height: 485px;
}
.flower-name {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.flower-price {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}
/* Flower plants  */

.flower-container {
  display: flex;
  margin-top: 150px;
  gap: 60px;
  /* position: relative; */
}

.flower-description {
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flower-heading {
  font-weight: 700;
  font-size: 3rem;
  margin: 0px;
}

.ulpragraph {
  font-size: 22px;
  margin-top: 20px;
  color: #00000080;
}
.list-item {
  list-style: disc;
  padding-left: 45px;
}
.store-image{
  width: 100%;
}
.badge {
  border: 1px solid tomato;
  width: 250px;
  height: 250px;
  position: absolute;
  top: -110px;
  right: -120px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}
.image-container {
  position: relative;
}

/* Latest deal section */
.deal-title {
  font-family: 700;
  font-size: 3rem;
  margin-top: 130px;
  text-align: center;
}
.latest {
  color: #e95a08;
}
.deal-subtitle {
  font-size: 1.25rem;
  color: #00000080;
  text-align: center;

}
.deal-image-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1,2fr);
  gap: 15px;
  margin-top: 120px;
  

 
}
.card{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
  
}

.bloom{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
  url("/assets/deal-bloom.png");
  background-repeat:no-repeat ;
  background-size: cover;
  border-radius:10px ;
  
}
.ana{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
  url("/assets/deal-ana.png");
  background-repeat:no-repeat ;
  background-size: cover;
  border-radius:10px ;
}
.zabo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
  url("/assets/deal-zabo.png");
  background-repeat:no-repeat ;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  border-radius:10px ;
}
.card span{
  text-decoration: underline;
}


/* Responsive Medeia queri */
@media screen and (max-width: 576px) {
  .btn {
    width: 165px;
    height: 50px;
    font-weight: 600;
    font-size: 1rem;
    background-color: #e95a08;
    color: white;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: none;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-title {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .banner-subtitle {
    font-size: 1rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
  }
  .card-subtitle {
    margin-top: 28px;
  }
  .flower-card {
    border: 1px solid blue;
    width: 165px;
    /* height: 200px; */
  }
  .flower-card img {
    width: 100%;
  }

  .flower-name {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
  .flower-price {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
  }

  /* flower plants */
  .flower-description {
    width: 100%;
  }
  .flower-container {
    flex-direction: column;
    gap: 0px;
  }
  .flower-heading br {
    display: none;
  }
  .flower-heading {
    margin-top: 18px;
    font-size: 1.5rem;
  }
  .ulpragraph {
    font-size: 14px;
    margin-top: 16px;
  }
  .badge {
    display: none;
  }
  .deal-image-container{
    grid-template-columns: repeat(1 , 1fr);
  }
  .zabo{
    grid-column: auto;
    grid-row: auto;
  }
  .card{
    height: 206px;
  }
}
